body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 10px;
    display: inline-block;
  }

  header a {
    text-decoration: none;
    color: #fce138;
  }
  header nav {
    float: right;
    display: inline-block;
    margin: 7px 0;
  }
  header nav ul li {
    display: inline;
  }
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
  
  
  h2,
  h3 {
    text-align: left; 
    margin: 0; 
  }
  
  img {
    display: block;
  }
  
  header {
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: #39a6b2
  }
  
  /* Box 2 in Square 1 */
  #relative-box-2 {
    /* TODO: Set the position so it is centered in Square 1 */
  }
  
  /* Box 2 in Square 2 */
  #absolute-box-2 {
    /* TODO: Set the position so it is outside of the upper-right corner of Square 2 */
  }